<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Minor Project</title>
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    ></script>
</head>
<body>

    <br>
    <h1><center>||Handwritten Devnagari Character Recognition||</center></h1>
    <hr>
    <form class="box" action="/check" method="post" enctype="multipart/form-data">
        <label id="text">Select Image File:</label>
        <div id="imagehere">
            <img id="blah" src="./static/aa.jpg" alt="your image"></img>
            <div></div>
            <input type="file" name="image" id="image" value="upload" onchange="readURL(this);">
        </div>
        <br>

        <input id="submitbtn" type="submit" name="submit" value="Predict">
        <center id="ans">
            {% if predict %}
            <h1>{{predict}}</h1>
            {% endif %}
        </center>
    </form>
    <script src="../static/app.js"></script>
</body>
</html>